<ul id="tool-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="tools/create-qr?apikey=<%= apikey %>&text=api maulana" target="_blank">
              <i class="bi bi-yin-yang"></i><span>Create Qr</span>
            </a>
          </li>
          <li>
            <a href="tools/read-qr?apikey=<%= apikey %>&img=https://telegra.ph/file/49e1ddcfc39b494058759.png" target="_blank">
              <i class="bi bi-yin-yang"></i><span>Read Qr</span>
            </a>
          </li>
          <li>
            <a href="tools/detect-nsfw?apikey=<%= apikey %>&img=https://telegra.ph/file/239529342382838a29669.jpg" target="_blank">
              <i class="bi bi-yin-yang"></i><span>Cek Nsfw</span>
            </a>
          </li>
          
          
          
          
            <li>
            <a href="tools/zodiak?apikey=<%= apikey %>&tanggal=1&bulan=1&tahun=2001" target="_blank">
              <i class="bi bi-yin-yang"></i><span>Zodiak</span>
            </a>
          </li>
          <li>
            <a href="tools/jodohcek?apikey=<%= apikey %>&nama=Aku&pasangan=kamu" target="_blank">
              <i class="bi bi-yin-yang"></i><span>Jodoh Cek</span>
            </a>
          </li>
          <li>
            <a href="tools/artinama?apikey=<%= apikey %>&nama=Adi" target="_blank">
              <i class="bi bi-yin-yang"></i><span>Artinama</span>
            </a>
          </li>
          
          <li>
            <a href="tools/downloaders/tiktok?apikey=<%= apikey %>&url=" target="_blank">
              <i class="bi bi-yin-yang"></i><span>Tiktok Downloader</span>
            </a>
          </li>
          
          <li>
            <a href="tools/downloaders/facebook?apikey=<%= apikey %>&url=" target="_blank">
              <i class="bi bi-yin-yang"></i><span>Facebook Downloader</span>
            </a>
          </li>
          
          <li>
            <a href="tools/downloaders/instagram?apikey=<%= apikey %>&url=" target="_blank">
              <i class="bi bi-yin-yang"></i><span>Instagram Downloader</span>
            </a>
          </li>
          
             <!-- ======= Batas ======= -->
        </ul>
      </li>
      
Artinama
Cek Nsfw
Create Qr
Facebook Downloader
Instagram Downloader
Jodoh Cek
Read Qr
Tiktok Downloader
Zodiak